body {
  text-align: center;
}

.starboard {
  text-align: left;
  width: 505px;
  margin-left: auto;
  margin-right: auto;
}

.winningPopUp {
  width: 505px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 6em;
  z-index: 1;
  background-image: url("images/white-panel.png");
}

.popUpPanel {
  width: 505px;
  position: absolute;
  left: 0;
  right: 0;
}

.popUpComment {
  width: 505px;
  position: absolute;
  left: 0;
  right: 0;
  top: 3em;
}

.popUpScore {
  width: 505px;
  position: absolute;
  left: 0;
  right: 0;
  top: 10em;
}
